[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sotheareth
[access "refs/for/refs/*"]
	read = group user/sotheareth
	push = group user/sotheareth
	label-Code-Review = -2..+2 group user/sotheareth
	label-Verified = -1..+1 group user/sotheareth
	rebase = group user/sotheareth
	removeReviewer = group user/sotheareth
	submit = group user/sotheareth
[access "refs/heads/*"]
	read = group user/sotheareth
	create = group user/sotheareth
	push = +force group user/sotheareth
	pushMerge = group user/sotheareth
[access "refs/tags/*"]
	push = +force group user/sotheareth
	pushTag = group user/sotheareth
	pushSignedTag = group user/sotheareth
